.articles-list {
  padding-top: 60px;
  padding-bottom: 60px;

  &__empty {
    min-height: 600px;

    h2 {
      span {
        color: $teal;
      }

      @include responsive-phone-big {
        font-size: 2.4rem;
      }
    }
  }
}
