.home {
  background-color: $light-gray;

  &__hero {
    position: relative;

    video { display: block; }

    &__image { display: none; }

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to top, rgba( #000, .4 ),  rgba( #000, .1 ));

      &__website-title {
        position: relative;
        z-index: 1;
        width: 580px;
        height: 140px;
        background-color: rgba($white, .5);
        top: 100px;

        -moz-transform: skewX(-30deg);
        -webkit-transform: skewX(-30deg);
        transform: skewX(-30deg);

        display: flex;
        justify-content: center;
        align-items: center;

        & > * {
          -moz-transform: skewX(30deg);
          -webkit-transform: skewX(30deg);
          transform: skewX(30deg);
        }

        h1 span {
          font-size: 1.8rem;
          display: block;
          text-align: right;
        }

        &__shadow {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 25px;
          left: 35px;
          background-color: rgba($white, .3);
          z-index: -1;

          -moz-transform: skewX(0deg);
          -webkit-transform: skewX(0deg);
          transform: skewX(0deg);
        }

        &__content-wrapper {
          width: 385px;
          position: relative;
          top: 10px;
        }

        &__underline {
          height: 2px;
          background-color: $dark-gray;
          position: absolute;
          left: 0;
          bottom: 20px;
          width: 100%;
        }

        p {
          font-family: 'Questrial', sans-serif;
          font-weight: 300;
          font-size: 2.4rem;
          text-align: right;
        }

        &--mobile { display: none; }
      }

      &__website-presentation {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 100;

        span {
          display: inline-block;
        }

        p {
          color: $light-gray;
          font-size: 2.4rem;
          font-weight: 300;
          padding-bottom: 10rem;
          line-height: 1.2;
        }
      }

      &__down-arrow {
        position: absolute;
        left: 50%;
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: 100;
        opacity: 0;

        &--1 {
          bottom: 40px;
        }

        &--2 {
          bottom: 30px;
        }

        &--3 {
          bottom: 20px;

        }

        a {
          color: $light-gray;
          font-size: 3.2rem;
        }
      }
    }
  }

  &__about {
    padding: 6rem 0 10rem;
    position: relative;

    &__skills-list {
      @include flex-sb-fs;
      align-items: normal;
      margin-top: 50px;
      position: relative;
      z-index: 100;
    }

    &__animated-background {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;

      &__box {
        height: 100%;

        img {
          border-radius: 0 !important;
          height: 100% !important;
          width: auto !important;
          position: absolute;
          top: 0;
          right: 0;
          opacity: .25;
        }


      }
    }

    h2 {
      margin-bottom: 3rem;
    }

    img {
      border-radius: 100%;
      width: 140px;
      height: 140px;
    }

    p {
      margin-top: 3rem;
      position: relative;
      z-index: 100;
    }

    a {
      color: $teal;

      &:hover {
        color: darken( $teal, 10% );
      }
    }

    a.learn-more-link {
      text-align: right;
      display: block;
      margin-top: 4rem;
    }

    &__socials {
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90px;
        margin-top: 1.5rem;
        margin-left: 2.3rem;
      }

      &__link {
        font-size: 2.4rem;
        color: $dark-gray;

        &--mail {
          font-size: 2.6rem;
          position: relative;
          top: -1px;
        }
      }
    }

    &__content {

      &__button-wrapper {
        margin-top: 6rem;

        .button {
          margin-right: 20px;
          margin-left: auto;
        }
      }
    }
  }

  &__work {
    background-image: linear-gradient(to right bottom, darken($teal, 2%), lighten($teal, 15%) );
    padding: 6rem 0;
    overflow: hidden;
    position: relative;

    -moz-transform: skewY(3deg);
    -webkit-transform: skewY(3deg);
    transform: skewY(3deg);

    & > * {
      -moz-transform: skewY(-3deg);
      -webkit-transform: skewY(-3deg);
      transform: skewY(-3deg);
    }

    h2 {
      color: $light-gray;
    }

    &__intro-text {
      color: $white;
      margin-top: 2rem;
    }

    &__gear-image {
      position: absolute;
      top: 60px;
      right: 30px;
      width: 100px;
      opacity: .1;
    }

    .project-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 5rem 0 0;
      margin-top: 3rem;


      &__single-project {
        flex-basis: 30%;
        height: 35rem;
        margin-bottom: 6rem;
        position: relative;
        z-index: 0;

        &__image {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          z-index: 1;
        }

        &__shadow {
          position: absolute;
          top: 1.3rem;
          left: 1.3rem;
          width: 100%;
          height: 100%;
          background-color: rgba($white, .6);
          z-index: -1;
          transition: all .3s ease;
        }

        &__white {
          height: 100%;
          background-color: rgba($white, .4);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          transition: all .3s ease;
        }

        &:hover .project-list__single-project__white {
          opacity: 0;
        }

        &:hover .project-list__single-project__overlay {
          opacity: 1;
        }

        &:hover .project-list__single-project__shadow {
          top: 2.5rem;
          left: 2.5rem;
          background-color: rgba($white, .2);
        }

        &:hover .project-list__single-project__overlay > * {
          top: 0;
          opacity: 1;
        }

        &__overlay {
          background-color: rgba($black, .8);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          padding: 10px;

          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          transition: all .3s ease;
          opacity: 0;

          &:hover {
            cursor: default;
          }

          & > * {
            position: relative;
            z-index: 100;
            color: $white;
            opacity: 0;
            top: 4rem;
            transition: all .3s ease;
          }

          h3 {
            text-align: center;
            font-size: 2.8rem;
            padding-bottom: 1.5rem;
          }

          p {
            text-align: center;
            border-top: 1px solid $white;
            min-width: 150px;
            margin: 0 auto;
            padding-top: 1rem;
            color: $light-teal;
          }
        }

        &__link {
          display: block;
          height: 100%;
        }
      }
    }

    &__portfolio-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 8rem;

      &__button-wrapper {
        flex-basis: 30%;

        .button {
          margin: 0 auto;
        }
      }
    }
  }

  &__contact {
    padding: 16rem 0 30rem;
    background-image: url('/images/home-contact-background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -10rem;

    &__form-wrapper {
      margin-top: 5rem;
      background-color: rgba($white, .5);
      padding: 6rem;
      box-shadow: 0 0 6px rgba( $dark-gray, .1 );

      h2 {
        margin-bottom: 6rem;
      }
    }

    &__button-wrapper {
      margin-top: 4rem;

      .button {
        margin: 0 auto;
      }
    }

    &__control-row {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 2rem;

      &__control-col {

        label {
          width: 100%;
          display: block;
          margin-bottom: 1rem;
        }

        input, textarea {
          display: block;
          width: 100%;
          height: 45px;
          border: none;
          border-bottom: 1px solid rgba( $dark-gray, .5 );
          background-color: transparent;
          box-sizing: border-box;
          transition: all .3s ease;
        }

        textarea {
          height: 120px;
          resize: none;
          overflow-y: auto;
        }

        input:focus,
        textarea:focus {
          outline: none !important;
          border-bottom-color: $teal;
        }

        &--half {
          flex-basis: 49%;
        }

        &--full {
          flex-basis: 100%;
        }
      }
    }
  }
}

@include responsive-fluid-closed(1200px, 1300px){
  .home__hero {
    &__overlay {
      &__website-title {
        left: 275px;
        top: 60px;
      }
    }
  }
}

@include responsive-fluid-closed(992px, 1199px){
  .home__hero {
    &__overlay {
      &__website-title {
        left: 195px;
        top: 30px;
      }

      &__website-presentation p {
        font-size: 1.8rem;
        padding-bottom: 8rem;
        width: 95%;
        margin: 0 auto;
      }
    }
  }
}

@include responsive-tablet {
  .home {
    &__hero {
      video { display: none; }
      &__overlay__website-title { left: 45px; }

      &__image {
        display: block;
        height: 500px;
        background-image: url('/images/home_hero_mobile.jpg');
        background-position: center bottom;
        background-size: cover;
        background-repeat: no-repeat;
      }

      &__overlay__website-presentation p {
        width: 90%;
        margin: 0 auto;
        font-size: 2.2rem;
      }
    }
  }

  .home__work .project-list__single-project {
    height: 20rem;
  }

  .home__work .project-list__single-project__overlay h3 {
    font-size: 2.4rem;
  }

  .home__work__portfolio-buttons__button-wrapper .button {
    width: 200px;
  }

  .home__work__portfolio-buttons {
    padding: 0 20px;
  }

  .home__work {
    padding-bottom: 10rem;
  }
}

@include responsive-phone-big {
  .home .home__hero .home__hero__overlay__website-title {
    -moz-transform: skewX(0);
    -webkit-transform: skewX(0);
    transform: skewX(0);

    left: 0;
    width: calc(100% - 15px);
    background-color: rgba(0,0,0,0);

    h1 {
      color: $white;
    }
  }

  .home__hero__overlay__website-title__underline {
    background-color: $white;
  }

  .home .home__hero .home__hero__overlay__website-title__shadow {
    left: 15px;
    top: 15px;
    background-color: rgba(0,0,0,0);
  }

  .home .home__hero .home__hero__overlay__website-title > * {
    -moz-transform: skewX(0) !important;
    -webkit-transform: skewX(0) !important;
    transform: skewX(0) !important;
  }

  .home__about__animated-background__box img {
    display: none;
  }

  .home__work .project-list__single-project {
    flex-basis: 100%;
  }

  .project-list-wrapper .container {
    padding-left: 0;
  }

  .home__work__portfolio-buttons {
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
  }

  .home__work__portfolio-buttons__button-wrapper {
    flex-basis: 100%;
    margin-bottom: 2.5rem;
  }

  .home__work__portfolio-buttons__button-wrapper .button {
    width: 240px;
  }

  .home__work__portfolio-buttons__button-wrapper:last-child {
    margin-bottom: 0;
  }

  .home__work {
    padding-bottom: 8rem;
  }

  .home__contact {
    padding-top: 12rem;
    padding-bottom: 25rem;
  }

  .home__contact__form-wrapper {
    padding: 15px;
    padding-bottom: 30px;
  }

  .home__contact__control-row {
    flex-wrap: wrap;
  }

  .home__contact__control-row__control-col--half {
    flex-basis: 100%;
  }

  .home__contact__control-row__control-col--half:first-child {
    margin-bottom: 2rem;
  }

  .home__contact__button-wrapper .button {
    width: 200px;
  }

  .footer__front__content {
    flex-wrap: wrap;
  }

  .footer__front__content__left,
  .footer__front__content__right {
    flex-basis: 100% !important;
  }

  .footer h2 {
    font-size: 3rem;
  }

  .header__options ul a {
    font-size: 2rem !important;
    width: 70%;
    margin: 0 auto;
  }

  .home__work .project-list__single-project__overlay,
  .home__work .project-list__single-project__overlay > * {
    opacity: 1;
  }

  .home__work .project-list__single-project__overlay > * {
    top: 0;
  }
}

@include responsive-phone-small {
  .home .home__hero .home__hero__overlay__website-title {
    height: 110px;

    h1 {
      font-size: 3rem;

      span {
        font-size: 1.4rem;
        padding-top: 5px;
      }
    }
  }

  .home .home__hero .home__hero__overlay__website-title__content-wrapper {
    margin: 0 15px 0 25px;
  }

  .home .home__hero .home__hero__overlay__website-title__underline {
    top: 33px;
  }

  .home .home__hero .home__hero__overlay__website-presentation p {
    font-size: 1.8rem;
    padding-bottom: 8rem;
  }
}
