.not-found-page {
  padding-top: 60px;
  padding-bottom: 320px;

  h2 {
    margin-top: 40px;

    span {
      color: $teal;  
    }

    @include responsive-phone-big {
      font-size: 2.4rem;
    }
  }

  a {
    font-family: 'Questrial', sans-serif;
    font-size: 4rem;
    color: $teal;

    @include responsive-phone-big {
      font-size: 2.4rem;
    }
  }
}
