* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.50%;
}

body {
  padding: 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Questrial', sans-serif;
  color: $dark-gray;
  font-weight: 300;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: $dark-gray;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

a {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  transition: all .3s ease;
}

.red {
  color: $light-gray;
}

.page {
  min-height: calc(100vh - 30px);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.fw-normal {
  font-weight: normal;
}

.green-bg-link {
  color: gold;
  transition: all .3s ease;
}

.green-bg-link:hover {
  color: lighten(gold, 10%);
}
