* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.50%;
}

body {
  padding: 15px;
  position: relative;
  z-index: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Questrial', sans-serif;
  color: $dark-gray;
  font-weight: 300;
}

p, label, input, textarea {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: $dark-gray;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

a {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  transition: all .3s ease;
}

.red {
  color: $light-gray;
}

.teal {
  color: $teal;
}

.page {
  min-height: calc(100vh - 30px);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page {
  min-height: 100vh;
}

.fw-normal {
  font-weight: normal;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.green-bg-link {
  color: gold;
  transition: all .3s ease;
}

.green-bg-link:hover {
  color: lighten(gold, 10%);
}

.app {
  position: relative;
}

.logo-image-link {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;

  img {
    max-width: 200px;
    height: auto;
  }
}

@include responsive-phone-big {
  body {
    padding: 0;
  }

  #g-recaptcha {
    -moz-transform: scale(0.77) !important;
    -webkit-transform: scale(0.77) !important;
    transform: scale(0.77) !important;

    position: absolute;
    top: 0;
    left: -13px;
  }

  .recaptcha-wrapper {
    position: relative;
    height: 70px;
  }
}
